h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  border: solid 5px #ff6600;
  padding: 30px 50px;
}

.header {
  color: #ff6600;
}

.contents {
  color: black;
}

.subtitle {
  background-color: #ff6600;
  color: white;
  padding: 10px 10px;
}

.points {
  color: black;
  margin: 0 50px;
}

.table table {
  width: 100%;
  color: black;
  border: 1px solid #cfcfcf;
  border-collapse: collapse;
}

.table table td,
.table table th {
  border: 1px solid #cfcfcf;
  padding: 10px 0px;
}

.table table th {
  background-color: #ededed;
}

.table table td {
  text-align: center;
}
